a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

h2,
h3 {
  color: #212121;
}

body {
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.logotype {
  font-family: "Raleway", san-serif;
  color: #2196f3;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}
@media screen and (max-width: 767px) {
  .logotype {
    padding-bottom: 16px;
    padding-top: 16px;
  }
}
@media screen and (min-width: 768px) {
  .logotype {
    margin-right: 88px;
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .logotype {
    margin-right: 93px;
    font-size: 26px;
    line-height: 31px;
  }
}

.logotype span {
  color: #000000;
}

header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.main-nav {
  margin: 0;
  margin-bottom: 300px;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .main-nav {
    display: flex;
    margin: 0;
  }
}

.main-nav > .item:not(:last-child) {
  margin-right: 50px;
}

.item {
  position: relative;
}

.nav-link-active {
  color: #2196f3;
  font-weight: 500;
  line-height: 47px;
  font-size: 40px;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .nav-link-active {
    padding-top: 32px;
    padding-bottom: 32px;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    display: inline-flex;
  }
}

.nav-link-active,
.nav-link {
  transition-property: color;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .nav-link-active::before {
    content: "";
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
  }
}

.nav-link {
  color: #212121;
  font-weight: 500;
  line-height: 47px;
  font-size: 40px;
  letter-spacing: 0.02em;
}
.nav-link:hover, .nav-link:focus {
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .nav-link {
    padding-top: 32px;
    padding-bottom: 32px;
    display: inline-flex;
    font-size: 14px;
    line-height: 16px;
  }
  .nav-link::before {
    content: "";
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(0);
  }
  .nav-link:hover::before, .nav-link:focus::before {
    transform: scale(1);
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.contacts {
  display: flex;
  justify-content: center;
  margin-left: auto;
}
@media screen and (max-width: 1199px) {
  .contacts {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    margin-left: 84px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    margin-left: 280px;
    align-items: baseline;
  }
}

@media screen and (max-width: 767px) {
  .item-tel {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .item-tel {
    margin-left: 30px;
  }
}

.item-tel-for-mobile {
  margin-bottom: 31px;
}
@media screen and (min-width: 768px) {
  .item-tel-for-mobile {
    display: none;
  }
}

.tel-link-for-mobile {
  color: #2196f3;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
}

.tel-link {
  color: #757575;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  fill: currentColor;
  transition-property: color;
  text-decoration: none;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.tel-link:hover, .tel-link:focus {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .tel-link {
    font-size: 12px;
    line-height: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .tel-link {
    font-size: 14px;
    line-height: 1.14;
  }
}

.item-mail {
  margin-bottom: 10px;
}

.icon-heder {
  margin-right: 10px;
  fill: currentColor;
}
@media screen and (max-width: 767px) {
  .icon-heder {
    display: none;
  }
}

.hidden-menu-mobile {
  background-color: #ffffff;
}
@media screen and (max-width: 767px) {
  .hidden-menu-mobile {
    width: 100%;
    display: none;
    padding: 48px 40px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
}
@media screen and (min-width: 768px) {
  .hidden-menu-mobile {
    display: flex;
    align-items: baseline;
  }
}

.is-open {
  display: block;
}

.menu-button {
  z-index: 10;
  margin-left: auto;
  display: inline-flex;
  padding: 0;
  background-color: #ffffff;
  border-style: none;
  cursor: pointer;
  color: black;
  fill: black;
}
.menu-button:focus, .menu-button:hover {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.icons-for-menu {
  fill: currentColor;
}

.icon-menu {
  display: block;
}

.menu-closed {
  display: none;
}

.menu-button.is-open .menu-closed {
  display: block;
}
.menu-button.is-open .menu-closed:focus, .menu-button.is-open .menu-closed:hover {
  color: #2196f3;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.mobile-social-links {
  display: flex;
  margin-top: 64px;
}
@media screen and (min-width: 768px) {
  .mobile-social-links {
    display: none;
  }
}

.mobile-links {
  color: #2196f3;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.adaptive-links:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
  margin-right: 10px;
}

.hero {
  max-width: 1600px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero-bgr/mobile/Header-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 2dpx), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero-bgr/mobile/Header-img@2x.jpg");
  }
}
@media screen and (min-width: 481px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/img/hero-bgr/tablet/Header img.jpg");
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 2dpx), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/img/hero-bgr/tablet/Header img@2x.jpg");
  }
}
@media screen and (min-width: 769px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/img/hero-bgr/desktop/Img.jpg");
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 2dpx), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/img/hero-bgr/desktop/Img@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.container-hero {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}
@media screen and (min-width: 1200px) {
  .container-hero {
    width: 696px;
  }
}

.main-hero-cont {
  display: flex;
  justify-content: center;
  text-align: center;
}

.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  letter-spacing: 0.06em;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-family: "Roboto", san-serif;
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 60px;
  }
}

.button-on {
  margin: 0;
  cursor: pointer;
  padding: 10px 32px;
  border-style: none;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
.button-on:hover, .button-on:focus {
  color: #ffffff;
}

.antenna {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.future-section {
  padding-top: 60px;
  padding-bottom: 60px;
  display: block;
}
@media screen and (min-width: 1200px) {
  .future-section {
    padding-top: 94px;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .future {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }
}

.future-tittle {
  max-width: 450px;
}
@media screen and (min-width: 768px) {
  .future-tittle {
    width: calc((100% - 2 * 30px) / 2);
    margin-right: 15px;
    margin-left: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .future-tittle {
    width: calc((100% - 4 * 30px) / 4);
  }
}

.future-tittle:nth-child(-n+2) {
  margin-bottom: 30px;
}

.future-tittle:not(:last-child) {
  margin-bottom: 30px;
}

.subtitle {
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.description {
  line-height: 1.71;
  letter-spacing: 0;
  font-size: 14px;
  color: #757575;
}

.working-container {
  display: none;
}
@media screen and (min-width: 1200px) {
  .working-container {
    display: block;
  }
}

.work-type {
  display: flex;
  justify-content: center;
}

.work-type > .link:not(:last-child) {
  margin-right: 30px;
}

.working {
  display: none;
}
@media screen and (min-width: 1200px) {
  .working {
    display: block;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.offers {
  display: flex;
  position: relative;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: 0;
  width: 370px;
  height: 70px;
  bottom: 0;
  left: 0;
  background: rgba(47, 48, 58, 0.8);
  text-transform: uppercase;
}

.offers-tittle {
  text-transform: uppercase;
  color: #ffffff;
}

.our-team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}

.tittle {
  margin-bottom: 30px;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.171;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .team {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    flex-wrap: wrap;
  }
}

.link-photo {
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
@media screen and (max-width: 1199px) {
  .link-photo:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 767px) {
  .link-photo:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .link-photo {
    width: calc((100% - 2 * 30px) / 2);
    margin-right: 15px;
    margin-left: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .link-photo {
    width: calc((100% - 4 * 30px) / 4);
  }
}

.photo {
  margin-bottom: 30px;
  width: 450px;
}
@media screen and (min-width: 768px) {
  .photo {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .photo {
    width: 270px;
  }
}

.name {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  line-height: 1.171;
}

.name,
.prof {
  font-size: 16px;
  text-align: center;
}

.prof {
  margin-bottom: 16px;
  line-height: 1.18;
  color: #757575;
}

.social-link {
  width: 44px;
  height: 44px;
  max-width: 206px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  border-radius: 50%;
  transition: 250ms;
  transition-property: fill, background-color, filter, border-radius;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover, .social-link:focus {
  background-color: #2196f3;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  fill: #ffffff;
}

.social-link-list {
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
  padding-bottom: 44px;
  margin-left: auto;
  margin-right: auto;
  width: 206px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.tittle-clients {
  margin-bottom: 30px;
  text-align: center;
  font-size: 28px;
  line-height: 1.171;
  font-weight: 700;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .tittle-clients {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
@media screen and (max-width: 1199px) {
  .clients-list {
    margin-top: -15px;
    margin-bottom: -15px;
  }
}

.clients-list-item {
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: calc((100% - 2 * 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients-list-item {
    width: calc((100% - 3 * 30px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-list-item {
    width: calc((100% - 6 * 30px) / 6);
  }
}

.clients-list-link {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition-property: fill, border-color, filter;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list-link:hover, .clients-list-link:focus {
  border-color: #2196f3;
  fill: #2196f3;
}

footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  padding: 0;
  margin-right: 0;
}

footer .logotype span {
  color: #ffffff;
}

.footer-main {
  display: inline-block;
}
@media screen and (max-width: 767px) {
  .footer-main {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-main {
    margin-right: 70px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-container {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    align-items: baseline;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-secondary {
    display: inline-block;
  }
}

.footer-secondary {
  width: 206px;
}
@media screen and (max-width: 767px) {
  .footer-secondary {
    margin-bottom: 60px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (max-width: 1200px) {
  .footer-secondary {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .flex-desktop {
    display: flex;
    margin-left: auto;
  }
}

.flex-cont-tablet {
  display: block;
}
@media screen and (min-width: 768px) {
  .flex-cont-tablet {
    display: flex;
    align-items: baseline;
    padding-right: 74px;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .flex-cont-tablet {
    display: flex;
    align-items: baseline;
    margin-bottom: 0;
  }
}

.address-footer,
.contacts-footer {
  display: block;
  line-height: 1.71;
}

.address-footer {
  font-style: normal;
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
}

.contacts-footer a {
  padding: 0;
  margin: 0;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.footer-button {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  letter-spacing: 0.03em;
  border-style: none;
  border-radius: 4px;
  padding: 10px 29px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .footer-button {
    margin-left: 12px;
  }
}

.join {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-list {
  display: flex;
}

.footer-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-submit {
  flex-direction: column;
}
@media screen and (max-width: 1199px) {
  .footer-submit {
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-submit {
    margin-left: auto;
  }
}

.input-submit {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .input-submit {
    margin-bottom: 0;
  }
}

.footer-send {
  width: 450px;
  height: 50px;
  padding-left: 16px;
  border-color: #757575;
  background-color: #2f303a;
  color: #ffffff;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
@media screen and (min-width: 1200px) {
  .footer-send {
    width: 358px;
  }
}

.social-link-footer {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  transition: 250ms;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 44px;
  height: 44px;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.social-link-footer:hover, .social-link-footer:focus {
  background-color: #2196f3;
  border-radius: 50%;
}

.footer-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-icon {
  margin-left: 10px;
}

.social-footer-svg {
  fill: #ffffff;
}

.window.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 250ms;
  opacity: 1;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.5);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .window {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 93px;
    padding-bottom: 93px;
  }
}

.modal {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  max-width: 500px;
  min-height: 581px;
  margin-right: auto;
  margin-left: auto;
  padding: 40px 40px 40px 40px;
}
@media screen and (min-width: 1200px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    min-width: 530px;
  }
}

.modal-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 8px;
  top: 10px;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: #ffffff;
  fill: #000000;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  outline: transparent;
}
.modal-button:hover, .modal-button:focus {
  fill: #2196f3;
}

.modal-heading {
  font-family: "Roboto", san-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.form-img {
  fill: #212121;
  color: #000000;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.name-input,
.tel-input,
.email-input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
}

.comment-area {
  height: 120px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;
}

.name-label {
  margin-bottom: 4px;
  color: #757575;
  line-height: 1.16;
  font-size: 12px;
}

.form-data {
  display: flex;
  position: relative;
  margin-top: 4px;
  margin-bottom: 14px;
  flex-direction: column;
}

.condition-input-hidden:focus {
  background: #2196f3;
}

input:focus + .form-img {
  fill: #2196f3;
}

input {
  width: 100%;
}

.label-comment {
  color: #757575;
  font-weight: normal;
  font-size: 14px;
  font-family: "Roboto", san-serif;
  letter-spacing: 0.03em;
}

.conditions {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.condition-input-hidden ~ span::before {
  content: "";
  display: inline-flex;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.condition-input-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.conditions-link {
  color: #2196f3;
  display: inline-flex;
  text-decoration: underline;
}

.condition-input-hidden:checked + span::before {
  background-image: url(../images/checked.svg);
  background-repeat: no-repeat;
  background-color: #2196f3;
  background-size: contain;
  background-origin: border-box;
  border: 2px solid #2196f3;
}

.condition-input-hidden:focus + span::before {
  border: 2px solid #2196f3;
}

.condition-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
}

.submit-conditions {
  display: flex;
  text-align: center;
  align-items: center;
  cursor: pointer;
  color: #ffffff;
  background-color: #2196f3;
  margin: 0 auto;
  padding: 10px 55px;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
}

@media screen and (min-width: 768px) {
  .container-portfolio {
    width: 804px;
  }
}
@media screen and (min-width: 1200px) {
  .container-portfolio {
    width: 1209px;
  }
}

.filter {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .filter {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.filter-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-top: -15px;
}
@media screen and (min-width: 768px) {
  .filter-buttons {
    justify-content: center;
  }
}

.filter-container {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .filter-container {
    margin-bottom: 30px;
  }
}

.filter-button {
  margin-right: 8px;
  margin-top: 15px;
  cursor: pointer;
  min-width: 73px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border-style: none;
  outline: none;
  text-align: center;
  font-family: "Roboto", san-serif;
  color: #212121;
  background-color: #f5f4fa;
  padding: 6px 22px;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, background-color, filter;
}

.filter-button:focus,
.filter-button:hover,
.all {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: #ffffff;
  background-color: #2196f3;
}

.work-link {
  display: block;
  cursor: pointer;
  border: 1px solid #eeeeee;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: filter, transform;
}
.work-link:hover, .work-link:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}
@media screen and (max-width: 767px) {
  .work-link:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .work-link {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin-bottom: 30px;
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .work-link {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

.work-link:hover .text-overlay,
.work-link:focus .text-overlay {
  transform: translateY(0);
}

.text-hidden {
  position: relative;
  overflow: hidden;
  outline: transparent;
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: 250ms ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
}

.text-overlay-basic {
  margin: 0;
  padding: 63px 24px;
  font-family: "Roboto", san-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  color: #ffffff;
}

.work-experience-tittle {
  margin-bottom: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}

.work-experience-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

.command-work {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.work-experience {
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
@media screen and (max-width: 767px) {
  .work-experience {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .work-experience {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
    margin-right: -30px;
  }
}/*# sourceMappingURL=main.css.map */