.join {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: $main-font-size;
  line-height: 16px;

  letter-spacing: $main-letter-spacing;
  text-transform: uppercase;
  color: $main-text-color;
}

.footer-list {
  display: flex;
}
.footer-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-submit {
  flex-direction: column;

  @media screen and (max-width: 1199px) {
    -webkit-box-align: center;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }
}

.input-submit {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}
.footer-send {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  border-color: $primary-text-color;
  background-color: $footer-hero-bgc;
  color: $main-text-color;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  $main-letter-spacing: $main-letter-spacing;

  border: 1px solid rgba(255, 255, 255, 0.3);

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}
