.footer-secondary {
  width: 206px;

  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
    margin-right: auto;
    margin-left: auto;
  }
  @media screen and (max-width: 1200px) {
    margin-left: auto;
  }
}

.join {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: $main-font-size;
  line-height: 16px;

  letter-spacing: $main-letter-spacing;
  text-transform: uppercase;
  color: $main-text-color;
}

.footer-list {
  display: flex;
}
.footer-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-link-footer {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  transition: 250ms;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 44px;
  height: 44px;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  &:hover,
  &:focus {
    background-color: $button-link-color;
    border-radius: 50%;
  }
}
.footer-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-footer-svg {
  fill: $primary-bgr;
}
