.hero {
  max-width: 1600px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: $footer-hero-bgc;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/hero-bgr/mobile/Header-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 2dpx),
    screen and (min-resolution: 192dpi) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/hero-bgr/mobile/Header-img@2x.jpg");
  }
  @media screen and (min-width: 481px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/hero-bgr/tablet/Header\ img.jpg");
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 2dpx),
      screen and (min-resolution: 192dpi) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../img/hero-bgr/tablet/Header\ img@2x.jpg");
    }
  }
  @media screen and (min-width: 769px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/hero-bgr/desktop/Img.jpg");

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 2dpx),
      screen and (min-resolution: 192dpi) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../img/hero-bgr/desktop/Img@2x.jpg");
    }
  }
  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.container-hero {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
